.container {
    position: relative;
    padding-bottom: 4.5vw;
}

.headerCont {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    font-size: 10vw;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-template: auto;
    width: 100%;
    overflow-x: hidden;
}


@media(min-width: 768px) {
    .grid {
        grid-template: auto / 1fr 1fr 1fr;
        grid-gap: 1.5vw;
        padding: 1.5vw;
    }

    .headerCont {
        height: 18.75vw;
        font-size: 8vh;
    }
}
