/* Non-ReactModules classes for SVG file of a bulb */
.bulb__img {
  width: 10vh;
  transform: rotate(180deg);
  margin-top: -2.5vh;
  z-index: 100;
}


.bulb__inside, .bulb__outside {
  opacity: 0.3;
}

/* Disables animation onLoad */
.bulb__img--off {
    animation: none !important;
}

.bulb__img--loaded .bulb__inside,
.bulb__img--loaded .bulb__outside,
.bulb__img--loaded .bulb__wire {
    animation-duration: .25s;
    animation-fill-mode: forwards;
}

.bulb__inside {
  fill: #fff;
  animation-name: turnOnInside;
}

.bulb__outside {
  fill: #ddd;
  animation-name: turnOnOutside;
}

.bulb__wire {
  fill: #444;
  animation-name: turnOnWire;
}

@keyframes turnOnInside {
    from {
        opacity: .3;
        fill: #fff;
    }
    to {
        opacity: 1;
        fill: #FFE671;
    }
}
@keyframes turnOnOutside {
    from {
        fill: #ddd;
        opacity: .3;
    }
    to {
        opacity: 1;
        fill: #FFCD00;
    }
}

@keyframes turnOnWire {
    from {
        fill: #444;
    }
    to {
        fill: #fff;
    }
}

 .bulb__img--off .bulb__inside, .bulb__img--off .bulb__outside, .bulb__img--off .bulb__wire {
    animation-delay: 0s;
    animation-direction: reverse;
}

.bulb__img--loaded .bulb__inside, .bulb__img--loaded .bulb__outside, .bulb__img--loaded .bulb__wire {
    animation-delay: 0s;
}


@media (min-width: 768px) {
    .bulb__img {
        margin-top: -2.5vw;
        width: 10vw;
    }
}

@media (min-width: 1600px) {
    .bulb__img {
        margin-top: -5vw;
        width: 7.5vw;
    }
}
