.container {
    width: 100%;
    color: var(--color-light);
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 45px 30px;
    padding-bottom: 0;
}

.headerCont {
    overflow: hidden;
    padding-top: 2em;
}

.text {
    text-align: justify;
}

.techs {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 45px;
}

.iconCont {
    margin: 0 10px;
    text-align: center;
}

.imagesCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 50vh;
    position: relative;
    margin-left: auto;
}

.buttonsCont {
    margin: 30px 0;
    display: inline-block;
}

.mainImg {
    width: 100vw;
    margin-left: -30px;
    margin-right: -30px;
}

@keyframes pulse {
    to {
        filter: brightness(1.2);
    }
}

@media (min-width: 768px) {
    .container{
        padding-bottom: 9vh;
    }

    .wrapper {
        margin: auto;
        flex-direction: row;
        padding-bottom: 0;
        min-height: 70vh;
    }

    .header {
        font-size: 5vh;
    }

    .textCont {
        width: 50%;
        max-width: 500px;
        margin-right: 10vw;
        margin-left: 5vw;
    }

    .text {
        margin-bottom: 3vh;
    }

    .socialsCont {
        margin-top: 10vh;
    }

    .imagesCont {
        width: 50%;
        margin-right: -30px;
    }

    .mainImg {
        width: 100%;
        margin: 0;
    }
}

@media (min-width: 1600px) {
    .textCont {
        margin-left: 15vw;
    }

    .text {
        font-size: 18px;
    }
}
