.container {
    width: 100%;
    position: relative;
    background-color: #555;
    transition: all 1s;
    overflow: hidden;
    height: 800px;
}

.bgLightness0 {
    background-color: #000;
}

.bgLightness1 {
    background-color: #222;
}

.bgLightness2 {
    background-color: #444;
}
