.container {
    font-size: 36px;
    font-family: var(--font-headers);
    position: relative;
    margin: 0;
}

.bigShadow {
    opacity: .075;
    position: absolute;
    left: 20%;
    bottom: 50%;
    transform: scale(1.8);
}

@media (min-width: 768px) {
    .container {
        font-size: 48px;
        margin-top: 3.5vh;
    }
}
