.container {
    background-color: var(--color-dark);
    position: relative;
    color: var(--color-light);
    padding: 45px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content {
    z-index: 2;
    position: relative;
    width: 100%;
    max-width: 1440px;
}

.logoCont {
    z-index: 10;
    position: relative;
    margin-bottom: 2rem;
}

.logo {
    color: var(--color-light);
    margin: 0;
    text-shadow: 8px 8px rgba(0,0,0,.4);
}

.caption {
    font-family: var(--font-standard);
    margin: 0;
    text-transform: uppercase;
    font-weight: 200;
}

.menuCont {
    list-style: none;
    text-transform: uppercase;
    margin: 0;
    padding: 15px 0px;
    font-size: 16px;
    font-weight: 300;
}

.copyRight {
    font-weight: 300;
    text-align: center;
    border-top: .5px solid var(--color-light);
    padding-top: 15px;
    margin-top: 45px;
}

@media (min-width: 768px) {
    .content {
        padding-top: 0px;
    }

    .mainCont {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .logoCont {
        margin: 0;
    }

    .menuCont {
        padding: 0;
    }

    .menuCont li {
        display: inline-block;
        margin: 0;
        margin-left: 45px;
    }

}
