@font-face {
    font-family: 'DKInnuendo';
    src: url('./fonts/DKInnuendo.otf');
}

@font-face {
    font-family: 'PeaceSans';
    src: url('./fonts/peace_sans.otf');
}

:root {
    --desktop-break-point: 768px;
    --color-light: #F1ECE5;
    --color-brown: #A0804D;
    --color-dark: #254651;
    --color-pink: #EE7B69;
    --font-headers: 'PeaceSans';
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(var(--color-dark), var(--color-light)) no-repeat;
  background-size: cover;
  min-height: 100vh;
}

* {
    outline: none;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-headers);
    font-weight: 300;
}
