@font-face {
    font-family: 'DKInnuendo';
    src: url('./fonts/DKInnuendo.otf');
}

:root {
    --desktop-break-point: 768px;
    --color-light: #F1ECE5;
    --color-brown: #A0804D;
    --color-dark: #254651;
    --color-pink: #EE7B69;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#444, #777) no-repeat;
  background-size: cover;
  min-height: 100vh;
}

* {
    outline: none;
    box-sizing: border-box;
}
