.icon {
    height: 30px;
    width: 30px;
    margin: 0 7.5px;
    margin-bottom: 5px;
}

.iconSmall {
    height: 30px;
    width: 30px;
    margin: 0;
}

@media (min-width: 768px) {
}
