.container {
    transition: all .5s .5s ease-out;
    position: fixed;
    left: 2.5vh;
    top: 2.5vh;
}

.hidden {
    transform: translateY(calc(-100% - 4vh));
    /* -2.5vh - 1.5vh for box-shadow */
}
